.designer-layout {
    height: calc(100vh - 200px);
    background: #fff;
}

.designer-sider-left {
    background: #fafafa;
    border-right: 1px solid #e8e8e8;
    overflow: auto;
    height: 100%;
}

.designer-content {
    padding: 24px;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: #f5f5f5;
    height: 100%;
}

.designer-sider-right {
    background: #fafafa;
    border-left: 1px solid #e8e8e8;
    overflow: auto;
    height: 100%;
}